streamlit
pandas
numpy
scikit-learn
plotly
matplotlib
shap
reportlab
Pillow
sqlalchemy
streamlit-option-menu
streamlit-lottie
streamlit-extras
python-dotenv
joblib
openpyxl
seaborn
mysql-connector-python
groq